/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;

@theme {
    --color-red: #FF4500;
    --color-light-red: #FF8254;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #585858;
    --font-reddit: "Reddit Sans", sans-serif;
}

* {
    font-family: var(--font-reddit);
}