/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
    --red: #FF4500;
    --light-red: #FF8254;
    --black: #000;
    --white: #fff;
    --grey: #585858;
    --reddit: "Reddit Sans", sans-serif;
}

* {
    font-family: var(--font-reddit);
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}