/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@300&display=swap');
@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;

@font-face {
    font-family: 'Switzer';
    src: url('/assets/fonts/Switzer-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --primary: #A8141E;
    --secondary: #FDEFD3;
    --black: #040316;
    --white: #FBFBFE;
    --accent: #669BBC;
    --font-sans: "Switzer", sans-serif;
    --font-decor: "Bitcount", sans-serif;
}