<footer id="footer" class="bg-red text-white flex flex-col">
    <div class="flex flex-col sm:flex-row">
        <div id="credits" class="border-2 border-white px-4 sm:px-10 py-10">
            <h2 class="text-3xl">Subreddit Simulator</h2>
            <p class="text-l">MADE BY AIGLE</p>
        </div>
        <div id="page-links"
            class="border-2 border-white flex-grow px-4 py-4 flex flex-row justify-around sm:justify-evenly">
            <div id="page-links-left">
                <p class="text-xl font-bold">PAGE LINKS</p>
                <ul>
                    <li><a href="/" class="focus:text-light-red hover:text-light-red">HOME</a></li>
                    <li><a href="/about" class="focus:text-light-red hover:text-light-red">ABOUT</a></li>
                    <li><a href="/randomize" class="focus:text-light-red hover:text-light-red">RANDOMIZE</a></li>
                </ul>
            </div>
            <div id="page-links-right">
                <ul>
                    <li><a href="/contact" class="focus:text-light-red hover:text-light-red">CONTACT US</a></li>
                    <li><a href="/posts" class="focus:text-light-red hover:text-light-red">POSTS</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div id="social-links" class="border-2 border-white px-4 py-4 sm:text-center">
        <a href="https://www.linkedin.com/in/prajanya-subramanian/" class="hover:text-grey">LINKEDIN . </a>
        <a href="https://github.com/aigle-levant/subreddit-simulator" class="hover:text-grey">GITHUB . </a>
        <a href="https://x.com/aiglelevant" class="hover:text-grey">TWITTER [NOW KNOWN AS X] . </a>
        <a href="https://portfolio-kappa-mocha-89.vercel.app/" class="hover:text-grey">PORTFOLIO . </a>
        <a href="mailto:officialprajanya@gmail.com" class="hover:text-grey">EMAIL . </a>
    </div>
</footer>