<footer id="footer" class="bg-[var(--primary)] text-white font-sans flex flex-col">
    <div class="flex flex-col sm:flex-row">
        <div id="credits" class="border-2 border-white px-4 sm:px-10 py-10">
            <h2 class="text-3xl font-bold font-decor">Forum Simulator</h2>
            <p class="text-lg font-decor">MADE BY AIGLE</p>
        </div>
        <div id="page-links"
            class="border-2 border-white flex-grow px-4 py-4 flex flex-row justify-around sm:justify-evenly">
            <div id="page-links-left">
                <p class="text-xl font-bold mb-2">PAGE LINKS</p>
                <ul class="space-y-1">
                    <li><a href="/"
                            class="transition-colors duration-200 hover:text-[var(--accent)] focus:text-[var(--accent)]">HOME</a>
                    </li>
                    <li><a href="/about"
                            class="transition-colors duration-200 hover:text-[var(--accent)] focus:text-[var(--accent)]">ABOUT</a>
                    </li>
                </ul>
            </div>
            <div id="page-links-right">
                <ul class="space-y-1">
                    <li><a href="/randomize"
                            class="transition-colors duration-200 hover:text-[var(--accent)] focus:text-[var(--accent)]">RANDOMIZE</a>
                    </li>
                    <li><a href="/contact"
                            class="transition-colors duration-200 hover:text-[var(--accent)] focus:text-[var(--accent)]">CONTACT
                            US</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="social-links" class="border-2 border-white px-4 py-4 text-center space-x-2 text-sm sm:text-base">
        <a href="https://www.linkedin.com/in/prajanya-subramanian/"
            class="hover:text-[var(--accent)] transition-colors duration-200">LINKEDIN</a> ·
        <a href="https://github.com/aigle-levant/subreddit-simulator"
            class="hover:text-[var(--accent)] transition-colors duration-200">GITHUB</a> ·
        <a href="https://x.com/aiglelevant"
            class="hover:text-[var(--accent)] transition-colors duration-200">TWITTER</a> ·
        <a href="https://portfolio-kappa-mocha-89.vercel.app/"
            class="hover:text-[var(--accent)] transition-colors duration-200">PORTFOLIO</a> ·
        <a href="mailto:officialprajanya@gmail.com"
            class="hover:text-[var(--accent)] transition-colors duration-200">EMAIL</a>
    </div>
</footer>